/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
	outline: none;
}


h1 {
	font-size: 2em;
	margin: 0.67em 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

a {
	cursor: pointer;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
body {
	background-image: url("../images/noah-silliman-155839-unsplash-1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.navbar {
	border-bottom: 3px solid #fff;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border: none;
    filter: invert(100%);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.bg-light {
	background: rgba(0,79,32,.9) !important;	
}

.dropdown-menu {
	background: #006F2D;
}

.dropdown-menu a {
	color: #fff;
	transition: .2s;
	-webkit-transition: .2s;
}

.index-header {
	background: url("../images/noah-silliman-155839-unsplash-1.jpg") no-repeat;
	background-size: 100%;
	background-position: bottom center; 
}

.about-header {
	background: url("../images/daniel-mingook-kim-139409-unsplash.jpg") no-repeat;
	background-size: 100%;
	background-position: center bottom;
}

.contact-header {
	background: url("../images/pavan-trikutam-1660-unsplash.jpg") no-repeat;
	background-size: 100%;
	background-position: center bottom;
}

header {
/*	background: url("../images/noah-silliman-155839-unsplash-1.jpg") no-repeat 50% 50%;
	/*background-size: cover;*/
}

.header-content {
	margin-top: 15vh;
	height: 65vh;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.header-content h1 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 5em;
	margin-top: 10%;
	text-shadow: 4px 2px 10px rgba(0,0,0,0.8);
}

.header-img {
	width: 40%;
	max-width: 200px;
}

.header-btn {
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding: 15px 20px;
	font-size: 1.3em;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: .3s;
	-webkit-transition: .3s;
	outline: none;
}

.header-btn:hover {
	border: 1px solid #fff;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 1.4em;
}

.menu-toggle {
	background: none;
	border: none;
	font-size: 1.5em;
	line-height: 35px;
	outline: none;
}

/*--------------------------------------------------------------
## Main Content
--------------------------------------------------------------*/
.content-area {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 3%;
	background: #000;
	color: #fff;
}

#primary {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background: rgba(255,255,255,.5);
	padding-bottom: 3%;
}

.main-content {
	color: #fff;
	border-top: 3px solid #fff;
}

.row-1 {
	background: #000;
	display: flex;
	border-bottom: 3px solid #fff;
}

.logo {
	flex: 1 25%;
	padding: 2%;
	align-items: center;
	align-self: center;
}

#logo {
	max-width: 250px;
	width: 100%;
}

.quote {
	flex: 1 80%;
	padding: 2%;
	align-items: center;
	align-self: center;
}

.reply {
	text-align: right;
}

.row-2 {
	background: #031D2C; 	
	margin: 3% 0;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
}

.video {
	padding: 3% 2%;
	margin: 0 auto;
	text-align: center;

}

.video-title {
	font-size: 2.2em;
	margin: 0 0 2% 0;
	color: #B5C5CE;
}

.yt-video {
	width: 560px;
	height: 315px;
	opacity: 0;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 3px solid #fff;
}

.box {
	position: relative;
	width: 50%;
	text-align: center;
	height: 250px;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-top: 3px solid #fff;
}

.box-1 {
	background-image: url("../images/noiseporn-247586-unsplash.jpg");
	border-right: 3px solid #fff;
}

.box-2 {
	background-image: url("../images/simon-maage-706908-unsplash.jpg");
}

.box-3 {
	background-image: url("../images/photo-1493676304819-0d7a8d026dcf.jpeg");
	border-right: 3px solid #fff;
}

.box-4 {
	background-image: url("../images/photo-1474500509889-915dbf0f966a.jpeg");
}

.box-5 {
	background-image: url("../images/photo-1529182856268-587c45053e0f.jpeg");
	border-right: 3px solid #fff;
}

.box-6 {
	background-image: url("../images/photo-1520483691742-bada60a1edd6.jpeg");
}

.box-7 {
	background-image: url("../images/photo-1501281668745-f7f57925c3b4.jpeg");
	border-right: 3px solid #fff;
}

.box-8 {
	background-image: url("../images/photo-1506157999258-a35364384ce9.jpeg");
}

.overlay {
	position: absolute;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box-content h2 {
	margin-top: 0;
}

.box-content {
	height: 100%;
	margin-top: 60px;
}

.nav-btn {
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px 15px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	font-size: 1.1em;
	text-transform: uppercase;
	transition: .5s;
	-webkit-transition: .5s;
	outline: none;
}

.nav-btn:hover {
	border: 2px solid #000;
	color: #000;
	background: rgba(255,255,255,0.9);
	cursor: pointer;
}

.page-content {
	background: #000;
	width: 100%;
	padding: 10% 0;
	border-bottom: 3px solid #fff;
}

.page-content p {
	max-width: 1000px;
	margin: 0 auto;
}

.contact-content {
	display: flex;
}

.contact-left,
.contact-right {
	flex: 1 50%;
	padding: 0 2%;
}

.contact-left form {
	max-width: 300px;
	margin: 0 auto;
}

.contact-left input,
.contact-left textarea {
	margin: 2%;
	padding: 1% 2%;
	border-radius: 5px;
	outline: none;
	background: #f5f5f5;
	border: 1px solid #c8c8c8;
	color: rgb(0,79,32);
}

.contact-buttons {
	text-align: center;
}

.contact-buttons input {
	background: #000;
	color: #fff;
	border: 1px solid #fff;
}

.contact-buttons input:hover {
	background: #505050;
}

.contact-buttons input:active {
	background: #303030;
}

.contact-right i {
	margin: 2%;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background: linear-gradient(#ff7f4b 30%, #ffd88c);
	background-size: 100%;
	position: relative;
	height: 250px;
	color: #000;
	border-top: 2px solid #fff;
}

.site-info {
	padding: 0 2%;
	margin: 40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.site-info span {
	display: block;
}

.site-info a {
	color: #000;
	text-decoration: none;
}

.site-info a:hover {
	color: #000;
	text-decoration: underline;
}

.footer-links {
	font-size: 1.1em;
	font-weight: 500;
	text-transform: uppercase;
}

.copyright {
	font-size: .8em;
	margin-top: 5px;
}

.soc-med-icons {
	margin-top: 5px;
	z-index: 100;
}

.fab {
	font-size: 1.8em;
	margin: 0 1%;
}

.fab:hover {
	color: rgba(0,0,0,0.8);
}

.footer-bg {
	background-image: url("../images/footer-trees-6.png");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
	.index-header,
	.page-header {
		background-size: cover;
	}

	.box {
		width: 100%;
	}

	.box-1,
	.box-3,
	.box-5,
	.box-7 {
		border-right: none;
	}

	.footer-bg {
		background-size: 150%;
	}
}

@media only screen and (max-width: 768px) {
	.video-title {
		font-size: 1.5em;
	}

	.row-1 {
		display: block;
		padding: 2%;
	}

	.logo {
		width: 100%;
		text-align: center;
	}

	.quote h1 {
		font-size: 1.6em;
		margin: 1.5rem 0;
	}

	.yt-video {
		width: 350px;
		height: 197px;
	}

	.fab {
		margin: 0 2%;
	}

	.footer-bg {
		background-size: 200%;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		margin: 0 20px;
	}
	.mr-auto {
		margin: 0 auto;
	}
	.navbar-light .navbar-nav .nav-link,
	.navbar-light .navbar-nav .active>.nav-link {
		color: #fff;
		transition: .3s;
		-webkit-transition: .3s;
	}
}



