/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
	outline: none;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

a {
	cursor: pointer;
}

::selection {
  background: #26854C;
  color: #101010;
}

::-moz-selection {
  background: #26854C;
  color: #101010;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

body {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.index-body,
.index-header {
	background-image: url("../images/noah-silliman-155839-unsplash-1600.jpg");
}

.about-body,
.about-header {
	background-image: url("../images/story-header.jpg");
}

.contact-body,
.contact-header {
	background-image: url("../images/contact-header.jpg");
}

.event-body,
.event-header {
	background-image: url("../images/event-info-header.jpg");
}

.health-body,
.health-header {
	background-image: url("../images/health-safety-header.jpg");
}

.participant-body,
.participant-header {
	background-image: url("../images/participant-header.jpg");
}

.vendor-body,
.vendor-header {
	background-image: url("../images/vendor-header.jpg");
}

.sponsors-body,
.sponsors-header {
	background-image: url("../images/sponsors-header.jpg");
}

.gallery-body,
.gallery-header {
	background-image: url("../images/gallery-header.jpg");
}

.index-header,
.about-header,
.contact-header,
.event-header,
.health-header,
.participant-header,
.vendor-header,
.sponsors-header,
.gallery-header {
	background-position: center; 
	background-size: 100%;
	background-repeat: no-repeat;
}

nav {
	background: rgb(0,79,32);
	border-bottom: 3px solid #fff;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

nav a {
	cursor: pointer;
}

.fa-bars {
	margin: 2%;
	font-size: 1.5em;
	color: #fff;
	cursor: pointer;
}

.site-nav {
	height: 0px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.site-nav-open {
	height: auto;
}

.top-level a,
.event-info li a {
	list-style-type: none;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.top-level:last-child a {
	border-bottom: none;
}

.top-level a {
	color: #fff;
	display: block;
	padding: 1em 5%;
	margin: 0 5%;
	text-decoration: none;
}

.top-level a:hover {
	background: #072704;
	color: #fff;
}

.site-nav li ul {
	list-style-type: none;
}


@media (min-width: 992px) {

	

}

.header-content {
	margin-top: 15vh;
	height: 65vh;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.header-content h1 {
	font-family: 'Amatic SC', sans-serif;
	font-size: 5em;
	margin-top: 10%;
	text-shadow: 4px 2px 6px rgba(0,0,0,1);
}

.header-img {
	width: 40%;
	max-width: 200px;
}

.header-btn {
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding: 15px 20px;
	font-size: 1.3em;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: .3s;
	-webkit-transition: .3s;
	outline: none;
}

.header-btn:hover {
	border: 1px solid #fff;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 1.4em;
}

.menu-toggle {
	background: none;
	border: none;
	font-size: 1.5em;
	line-height: 35px;
	outline: none;
}

/*--------------------------------------------------------------
## Main Content
--------------------------------------------------------------*/
.content-area {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 3%;
	background: #000;
	color: #fff;
}

#primary {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background: rgba(255,255,255,.5);
	padding-bottom: 3%;
}

.main-content {
	color: #fff;
	border-top: 3px solid #fff;
}

.row-1 {
	background: #000;
	display: flex;
	border-bottom: 3px solid #fff;
}

.logo {
	flex: 1 25%;
	padding: 2%;
	align-items: center;
	align-self: center;
}

#logo {
	max-width: 250px;
	width: 100%;
}

.quote {
	flex: 1 80%;
	padding: 5% 2%;
	align-items: center;
	align-self: center;
}

.reply {
	text-align: right;
}

.row-2 {
	background-color: #031D2C;
	background-image: linear-gradient(to bottom right, #0E3044, #011018);
	margin: 3% 0;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
}

.video {
	padding: 5% 2%;
	margin: 0 auto;
	text-align: center;

} 

.video-title {
	font-size: 2em;
	margin: 0 0 2% 0;
	color: #B5C5CE;
	text-transform: uppercase;
}

.yt-video {
	width: 560px;
	height: 315px;
	opacity: 0;
	border: 1px solid #fff;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 3px solid #fff;
}

.box {
	position: relative;
	width: 50%;
	text-align: center;
	height: 250px;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-top: 3px solid #fff;
}

.box-1 {
	background-image: url("../images/event-info.jpg");
	border-right: 3px solid #fff;
}

.box-2 {
	background-image: url("../images/our-story.jpg");
}

.box-3 {
	background-image: url("../images/pics-vids.jpg");
	border-right: 3px solid #fff;
}

.box-4 {
	background-image: url("../images/vendor-app.jpg");
}

.box-5 {
	background-image: url("../images/participant-agreement.jpg");
	border-right: 3px solid #fff;
}

.box-6 {
	background-image: url("../images/health-safety.jpg");
}

.box-7 {
	background-image: url("../images/sponsorships.jpg");
	border-right: 3px solid #fff;
}

.box-8 {
	background-image: url("../images/contact-2.jpg");
}

.overlay {
	position: absolute;
	background: rgba(0,0,0,0.3);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: ease .3s;
}

.overlay:hover {
	background: rgba(0,0,0,0.5);
}

.box-content h2 {
	margin-top: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 2em;
}

.box-content {
	height: 100%;
	margin-top: 60px;
}

.nav-btn {
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px 15px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	font-size: 1.1em;
	text-transform: uppercase;
	transition: .5s;
	-webkit-transition: .5s;
	outline: none;
}

.nav-btn:hover {
	border: 2px solid #000;
	color: #000;
	background: rgba(255,255,255,0.9);
	cursor: pointer;
}

.page-content {
	background: #000;
	width: 100%;
	padding: 10% 2%;
	border-bottom: 3px solid #fff;
}

.page-content p {
	max-width: 1000px;
	margin: 0 auto;
}

.contact-content {
	display: flex;
	flex-wrap: wrap;
}

.contact-left,
.contact-right {
	flex: 1 50%;
	padding: 0 2%;
}

.contact-right form {
	max-width: 350px;
	margin: 0 auto;
}

.contact-right input[type='text'],
.contact-right textarea,
.contact-buttons input[type='submit'],
.contact-buttons input[type='reset'] {
	font-size: 1.3em;
}

.contact-buttons input[type='submit'],
.contact-buttons input[type='reset'] {
	cursor: pointer;
	padding: 2% 3%;
}

.contact-right input,
.contact-right textarea {
	margin: 2%;
	padding: 2% 2%;
	border-radius: 5px;
	outline: none;
	background: #000;
	border: 1px solid #c8c8c8;
	color: #fff;
}

.contact-buttons {
	text-align: center;
}

.contact-buttons input {
	background: #000;
	color: #fff;
	border: 1px solid #fff;
}

.contact-buttons input:hover {
	background: #505050;
}

.contact-buttons input:active {
	background: #303030;
}

.contact-left i {
	margin: 2%;
}

.contact-info {
	margin: 0 auto;
	font-size: 1.2em;
	max-width: 400px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background: linear-gradient(#ff7f4b 30%, #ffd88c);
	background-size: 100%;
	position: relative;
	height: 250px;
	color: #000;
	border-top: 3px solid #fff;
}

.site-info {
	padding: 0 2%;
	margin: 40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.site-info span {
	display: block;
}

.site-info a {
	color: #000;
	text-decoration: none;
}

.site-info a:hover {
	color: #000;
	text-decoration: underline;
}

.footer-links {
	font-size: 1.1em;
	font-weight: 500;
	text-transform: uppercase;
}

.copyright {
	font-size: .8em;
	margin-top: 8px;
}

.soc-med-icons {
	margin-top: 5px;
	z-index: 100;
}

.fab {
	font-size: 1.8em;
	margin: 0 1%;
}

.fab:hover {
	color: rgba(0,0,0,0.8);
}

.footer-bg {
	background-image: url("../images/footer-trees-6.png");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
	.index-header,
	.about-header,
	.contact-header {
		background-size: cover;
	}

	.box {
		width: 100%;
	}

	.box-1,
	.box-3,
	.box-5,
	.box-7 {
		border-right: none;
	}

	.footer-bg {
		background-size: 150%;
	}
}

@media only screen and (max-width: 768px) {
	.header-content {
		margin-top: 10vh;
		height: 30vh;
	}

	.index-header .header-content {
		margin-top: 5vh;
		height: 50vh;
	}

	.row-1 {
		display: block;
		padding: 2%;
	}

	.logo {
		width: 100%;
		text-align: center;
	}

	#logo {
		max-width: 150px;
	}

	.quote h1 {
		font-size: 1.6em;
		margin: 1.5rem 0;
	}

	.yt-video {
		width: 350px;
		height: 197px;
	}

	.fab {
		margin: 0 2%;
	}
	
	.contact-left,
	.contact-right {
		flex: 1 100%;
		margin: 0 auto;
	}

	.contact-right,
	.g-map {
		margin-top: 5%;
	}

	.footer-bg {
		background-size: 200%;
	}
}

@media (min-width: 992px) {
	nav {
		background: rgba(0,79,32,.9);
		height: 50px;
		text-align: center;
	}

	.fa-bars {
		margin: 0;
		visibility: hidden;
	}

	.site-nav {
		display: initial;
	}

	.top-level {
		display: inline-block;
		line-height: 47px;
	}

	.top-level a {
		display: block;
		width: 100%;
		padding: 0 1.8em;
		transition: ease 0.2s;
		margin: 0;
	}

	.top-level-open a {
		background: #072704;
	}

	.top-level li a:hover {
		background: #021400;
	}

	.top-level a,
	.event-info li a {
		border-bottom: none;
	}

	.top-level ul {
		background: #072704;
		margin: 0;
		padding: 0;
		margin-left: 0;
		position: absolute;
		display: none;
		list-style-type: none;
	}

	.second-level {
		display: block !important;
	}
}

@media (min-width: 778px) {
	@keyframes zoominoutvideo {
	    0% {
	        transform: scale(1,1);
	    }
	    50% {
	        transform: scale(1.05,1.05);
	    }
	    100% {
	        transform: scale(1,1);
	    }
	}

	.yt-video:hover {
		animation: zoominoutvideo .5s forwards;
	}
}
